@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.showCase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #576bdd;
    flex-grow: 1;
}

li, a {
    font-family: "Montserrat", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.logo {
    height: 10vh;
    width: 140px;
    cursor: pointer;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #576bdd;
}


main {
    display: flex;
    background-color: bisque;
    width: 70%;
    padding: 0px 2%;
    align-items: center;
    justify-content: center;
}

aside {
    display: flex;
    background-color: rgb(206, 122, 195);
    padding: 0px 2%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}



footer {
    display: flex;
    padding: 20px;
    margin-top: auto;
    color: #ffffff;
    background-color: #e8491d;
    justify-content: center;
}





