@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navLinks {
    list-style: none;
    padding-top: 50%;
}

.navLinks li {

    padding: 40px 20px;
    

}

.navLinks li a {
    transition: all 0.3s ease 0s;
    color:bisque;
    text-decoration: none;
}

.navLinks li a:hover {
    color: rgb(216, 112, 43);
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    font-size: 16px;
    display: grid;
    grid-template-areas:
     "header header header"
     "nav content sidebar"
     "footer footer footer" ;
     grid-template-columns: 1fr 4fr 1fr;
     grid-template-rows: 80px 1fr 70px;
}

header,
nav, 
main,
aside,
footer {
    background-color: rgb(62, 63, 71);
    color: rgb(234, 236, 238);
    padding: 20px;
    border: rgb(216, 112, 43) 1px solid;
    text-align: center;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

@media (max-width: 520px) {

    header, .showCase, footer, body{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;

    }

    

   

    

    

    




}
    