@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    font-size: 16px;
    display: grid;
    grid-template-areas:
     "header header header"
     "nav content sidebar"
     "footer footer footer" ;
     grid-template-columns: 1fr 4fr 1fr;
     grid-template-rows: 80px 1fr 70px;
}

header,
nav, 
main,
aside,
footer {
    background-color: rgb(45, 53, 172);
    color: rgb(234, 236, 238);
    padding: 20px;
    border: rgb(216, 112, 43) 1px solid;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: content;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}